// Colour palette (provided)
$primary: #1a2c38;
$secondary: #0f212f;
$tertiary: #304654;
$success: #00e701;
$grayscale-grey: #b1bad3;
$grayscale-white: #ffffff;

// Colour palette (not provided)
$tile-background: #304453;
$tile-highlight: #567086;
$tile-selected: #061824;
$panel-background: #223643;
$modal-background: #051724;
$modal-border: #02090e;

body {
    background-color: $primary;
}

.App {
    font-family: sans-serif;
    text-align: center;
    color: $grayscale-white;
}

@media (max-width: 800px) {
    /* CSS that should be displayed if width is equal to or less than 800px goes here */

}

.GameOptions {
    background-color: $panel-background;
    width: 100%;
    max-width: 61vh;
    height: 60vh;
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    margin: 0 auto;
}

.GameOptions span {
    display: block;
}

.grid {
    margin: 0 auto;
    background-color: $secondary;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.25vh;
    width: 100%;
    max-width: 60vh;
    padding: 0.5vh;
    border-top-left-radius: 2%;
    border-top-right-radius: 2%;
}

.tile {
    cursor: pointer;
    height: 11vh;
    width: 11vh;
    background-color: $tile-background;
    transition: background-color 0.3s ease;
    border-radius: 10%;
    border-bottom: $panel-background 0.5vh solid;
    margin: 0.4vh;
    transition: margin 0.3s ease;
}

.tile:hover {
    background-color: $tile-highlight;
    margin-top: 0rem;
}

.tile.disabled {
    pointer-events: none;
    opacity: 0.3;
}

.tile.revealed.disabled {
    pointer-events: none;
    opacity: 0.9;
}

.tile.revealed {
    background-color: $tile-selected;
    border: none;
}

.tile img {
    height: 5vh;
    width: 7vh;
    padding: 3vh 0 0 0;
    visibility: hidden;
}

.tile.disabled img {
    visibility: visible;
}

.tile.revealed img {
    height: 7vh;
    width: 9vh;
    padding: 1.5vh 0 0 0;
    visibility: visible;
}

.Modal {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
    background-color: $modal-background;
    padding: 1.5vh 5vh;
    border-radius: 2%;
    border: $modal-border 0.1vh solid;
    border-bottom: $modal-border 0.5vh solid;
}

.Modal.enabled {
    visibility: visible;
}

button {
    cursor: pointer;
    color: $grayscale-white;
    background-color: $primary;
    padding: 1.5vh;
    border-radius: 10%;
    border: $secondary 0.25vh solid;
    margin-bottom: 2vh;
    max-height: 10vh;
}

button:hover {
    background-color: $secondary;
}

button:disabled {
    background-color: $secondary;
}

input {
    padding: 1.5vh;
    border: $secondary 0.25vh solid;
    margin-bottom: 2vh;
}